## Settings file was created by plugin My first plugin v1.0.0
## Plugin GUID: CupheadPlugin

[Debug]

## Press to log the active scene.
# Setting type: KeyboardShortcut
# Default value: F1
LogSceneKey = F1

